.container {
  min-width: 800px;
  width: 80%;
  margin: 0rem auto 3rem auto;
  max-width: 1200px;
}

.header {
  display: flex;
  margin-top: 3rem;
  padding: 0 1.8rem;
  align-items: baseline;
  justify-content: space-between;
  background-color: #E4D7D0;
  color: black;
}

.loading {
  color: white;
  font-size: x-large;
}

.results {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #414654;
}

.news-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.4rem;
  padding: 0.4rem 1rem;
  background-color: #0D698B;
}

.news-item-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.results-title {
  padding: 0 0.6rem 0 0;
  font-weight: bold;
  color: #FF9636;
}

.results-title a {
  color: rgb(232, 65, 163);
}

.author {
  margin: 0;
  font-size: smaller;
  color: #F8F5E4;
}

.results-date {
  display: flex;
  padding: 0 0 0 2rem;
  font-size: smaller;
  color: #F8F5E4;
  text-align: right;
  border-left: 4px solid #0A4158;
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #E4D7D0;
}

.pagination {
  margin: 0 0.3rem;
  padding: 0 0.4rem;
  border: 2px solid #414654;
  border-radius: 5px;
  background-color: azure;
  font-weight: bold;
  color: #414654;
}

.pagination:hover {
  background-color: lightgrey;
}

input[type='text'] {
  width: 60%;
  padding: 0.3rem;
  border: 2px solid #414654;
  border-left: none;
  border-right: none;
  font-weight: bold;
}

input[type='text']:focus {
  outline: none;
}

input[type='submit'] {
  margin-left: 1rem;
  margin-right: 0.5rem;
  width: 1.3rem;
  height: 1.3rem;
  background: none;
  background-image: url('./search.png');
  background-size: cover;
  border: none;
  filter: drop-shadow(10px 3px 0 orange);
}

h1 {
  margin-left: 0.3rem;
  color: #414654;
  font-size: 3rem;
}

a {
  text-decoration: none;
}

select {
  padding: 0.3rem;
  border: 2px solid #414654;
  border-right: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: white;
  font-weight: bold;
  color: white;
  background-color: #414654;
}

select.results-per-page {
  padding: 0.3rem;
  border: 2px solid #414654;
  border-radius: 5px;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
}

form {
  align-self:center;
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: right;
}

#current-page {
  background-color:#414654;
  color: white;
}
